@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --vinho: #660027;
    --cinza: #7B7676;
    --preto: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

header nav a {
    margin: 20px;
    color: var(--preto);
    cursor: pointer;
}

.conteudo{
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    margin: 20px 0px;
    
}

.conteudo1 {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 700px;
    border: 1px solid var(--vinho);
    border-radius: 5px;   

}

form {
    display: flex;
    flex-direction: column;
    align-items: left;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: var(--cinza);
}

section div h1 {
    display: flex;
    align-items: center;
    margin: 20px;

    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: var(--vinho);
}

.infoContato input {
    box-sizing: border-box;

    display: flex;
    width: 400px;
    height: 42px;

    border: 1px solid var(--vinho);
    border-radius: 4px;
    margin-bottom: 20px;
}

.infoContato textarea {
    box-sizing: border-box;

    display: flex;

    width: 400px;
    height: 125px;
    margin-bottom: 20px;

    border: 1px solid var(--vinho);
    border-radius: 4px;
}

.infoContato button {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content:center;
    padding: 22px 70px;

    background: var(--vinho);
    border: 2px solid var(--vinho);
    border-radius: 4px;

    width: 128px;
    height: 42px;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

    cursor: pointer;
}

.conteudo2 {
    display: flex;
    width: 400px;
    height: 700px;
    margin: 0px 20px;
}

.informacao {
    
    display: flex;     

    background: var(--vinho);
    padding: 10px;

    display: flex;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;

    color: #fefefe;
}