* {
    margin: 0;
    padding: 0;
}

:root {
    --vinho: #660027;
    --cinza: #6C6969;
    --cinzaclaro: #7D7777;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;

}

nav,
section,
main {
    width: 1200px;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 20px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    max-width: 155px;
    height: 70px;
    top: 71px;
    left: 120px;
}

.home img {
    max-width: 1200px;
    height: 450px;
    top: 192px;
    left: 120px;
}

main h1 {
    margin: 20px 0px;
}

.paragrafo1 {
    width: 1200px;
    height: 78px;
    left: 120px;
    top: 708px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;

    color: #6C6969;
}

.paragrafo2 {
    width: 1200px;
    height: 149px;
    left: 120px;
    top: 816px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;

    color: #6C6969;
}

main h1 {
    width: 92px;
    height: 42px;
    left: 120px;
    top: 666px;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #660027
}

#Estilos {
    display: flex;
    justify-content: space-between;
}

.card1 {
    box-sizing: border-box;

    margin: 80px 30px 50px 0px;
    width: 250px;
    height: 410px;
    left: 130px;
    top: 1048px;

    background: #FFFFFF;
    border: 1px solid #9E9B9B;
}

.card2 {
    box-sizing: border-box;

    margin: 80px 30px 50px 30px;
    width: 250px;
    height: 410px;
    left: 604px;
    top: 1048px;

    background: #FFFFFF;
    border: 1px solid #9E9B9B;
}

.card3 {
    box-sizing: border-box;

    margin: 80px 0px 50px 30px;
    width: 250px;
    height: 410px;
    left: 1078x;
    top: 1048px;

    background: #FFFFFF;
    border: 1px solid #9E9B9B;
}

.card1 h3 {
    margin: 10px;
    width: 111px;
    height: 28px;
    left: 158px;
    top: 1234px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #660027
}

.card2 h3 {
    margin: 10px;
    width: 57px;
    height: 28px;
    left: 632px;
    top: 1234px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #660027
}

.card3 h3 {
    margin: 10px;
    width: 116px;
    height: 28px;
    left: 1106px;
    top: 1234px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #660027
}

.card1 span {
    margin: 10px;
    display: flex;
    width: 197px;
    height: 64px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7D7777;
}

.card2 span {
    margin: 10px;
    display: flex;
    width: 197px;
    height: 64px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7D7777;
}

.card3 span {
    margin: 10px;
    display: flex;
    width: 197px;
    height: 64px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7D7777;
}

.card1 button {
    margin: 10px;
    display: flex;
    box-sizing: border-box;

    width: 128px;
    height: 42px;
    left: 158px;
    top: 1379px;

    background: #FFFFFF;
    border: 2px solid #660027;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #660027;
    cursor: pointer;
}

.card2 button {
    margin: 10px;
    display: flex;
    box-sizing: border-box;

    width: 128px;
    height: 42px;
    left: 632px;
    top: 1379px;

    background: #FFFFFF;
    border: 2px solid #660027;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #660027;
    cursor: pointer;
}

.card3 button {
    margin: 10px;
    display: flex;
    box-sizing: border-box;

    width: 128px;
    height: 42px;
    left: 1106px;
    top: 1379px;

    background: #FFFFFF;
    border: 2px solid #660027;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #660027;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    height: 120px;
    left: 0px;
    top: 1530px;

    background: #660027;
}

footer ul li {
    list-style-type: none;
}

footer ul li p {

    width: 283px;
    height: 51px;
    left: 617px;
    top: 1557px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;

    color: #fefefe;
}