@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --vinho: #660027;
    --cinza: #6C6969;
    --cinzaClaro: #7D7777;
    --preto: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0px auto;
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
    padding: 20px;
}

.primeiroBloco img {
    width: 100%;
    
}

header nav a {
    margin-left: 20px;
    color: var(--preto);
    cursor: pointer;
    
}

.conteudo {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
}

.primeiroBloco h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    margin: 20px 0px;

    color: var(--vinho);
}

.paragrafo {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0px;
}

.blocoCard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.card1 {
    box-sizing: border-box;
    border: 1px solid #9E9B9B;
    width: 250px;
}

.card2 {
    box-sizing: border-box;
    border: 1px solid #9E9B9B;
    width: 250px;
}

.card3 {
    box-sizing: border-box;
    border: 1px solid #9E9B9B;
    width: 250px;
}

.card1 h3 {
    display: flex;
    margin: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: var(--vinho);
}

.card2 h3 {
    display: flex;
    margin: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: var(--vinho)
}

.card3 h3 {
    display: flex;
    margin: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: var(--vinho)
}

.card1 span {
    display: flex;
    margin: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--cinzaClaro)
}

.card2 span {
    display: flex;
    margin: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--cinzaClaro)
}

.card3 span {
    display: flex;
    margin: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--cinzaClaro)
}

.card1 button {
    margin: 30px;
    display: flex;
    box-sizing: border-box;

    width: 128px;
    height: 42px;
    left: 158px;
    top: 1379px;

    background: #FFFFFF;
    border: 2px solid var(--vinho);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vinho);
    cursor: pointer;
}

.card2 button {
    margin: 30px;
    display: flex;
    box-sizing: border-box;

    width: 128px;
    height: 42px;
    left: 158px;
    top: 1379px;

    background: #FFFFFF;
    border: 2px solid var(--vinho);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vinho);
    cursor: pointer;
}

.card3 button {
    margin: 30px;
    display: flex;
    box-sizing: border-box;

    width: 128px;
    height: 42px;
    left: 158px;
    top: 1379px;

    background: #FFFFFF;
    border: 2px solid var(--vinho);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vinho);
    cursor: pointer;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 120px;
    
    
    background-color: var(--vinho);
}

footer p {

    width: 283px;
    height: 51px;
    left: 617px;
    top: 1557px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;

    color: #fefefe;
}