@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --vinho: #660027;
    --cinza: #6C6969;
    --cinzaClaro: #7D7777;
}

body {
    font-family:  'Roboto', sans-serif;
    width: 100%;
    width: 1200px;
    margin: 0px auto;
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

header nav a {
    margin-left: 20px;
    color: black;
    cursor: pointer;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.primeiroBloco h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;

    color: #660027;
}

.paragrafo {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6C6969;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
}